@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --font-serif: Georgia, "Times New Roman", serif;
}

.serif {
  font-family: var(--font-serif);
}

html {
  @apply h-full;
}

body {
  @apply bg-white min-h-full flex flex-col;
}

body > div {
  @apply flex flex-col flex-1;
}
